.box {
  min-height: 640px;
  padding: 35px;
  margin: 0px;
  font-weight: 800;
  color: rgb(75, 73, 73);
}

.transparent {
  background: rgba(255, 255, 255, 0.692);
}

.purple {
  background: rebeccapurple;
}

.red {
  background: indianred;
}

body {
  background-color: rgba(104, 100, 100, 0.561);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  background-color: #000;
  display: block;
  padding: 1em 0;
  text-align: center;
  width: 100%;
}

nav a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
}

.scrolling-box {
  background-color: #eaeaea;
  display: block;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
  width: 100%;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}