.box {
  min-height: 100%;
  padding: 40px;
  margin: 0px;
  font-weight: 450;
  color: rgb(32, 32, 32);
}

.transparent {
  background: rgba(255, 255, 255, 0.775);
}


body {
  background-color: rgba(92, 90, 90, 0.561);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav {
  background-color: #000;
  display: block;
  padding: 1em 0;
  text-align: center;
  width: 100%;
}

nav a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
}

.scrolling-box {
  background-color: #eaeaea;
  display: block;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-align: center;
  width: 100%;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}